{% extends "layout.html" %}

{% block content %}
  <h3>{{title}}<small> (<a href="{{page.route}}/similar">Similar</a>)</small></h3>
  <h4>by <a href="/users/{{page.authorId}}">{{page.author.name}}</a></h4>
  <div>
  	{% for tag in tags %}
  	<a href= "/search/tag?tag={{tag}}">{{tag}}</a>
  	{% endfor %}
  </div>
  <hr/>
  <div><a href="{{page.route}}">{{page.title}}</a></div>
  <div class="page-body"><p>{% autoescape false %}{{page.renderedContent}}{% endautoescape %}</p></div>
  <hr/>
  <a href="{{page.route}}/edit" class="btn btn-primary">edit this page</a>
  <a href="{{page.route}}/delete" class="btn btn-danger">delete this page</a>
{% endblock %}